<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%10thread] %cyan(%-40logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.rds.observato" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.flywaydb" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
